# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database
*.db
*.db-journal

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data
data/input/*
data/processed/*
data/outputs/*
!data/input/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep
